<!-- class=container indicates that we want to use bootstrap stylesheet -->
<div class="container">
<h3> Form</h3>

<form #myForm="ngForm" (submit)="submitForm(myForm)" novalidate>

  <div class="form-group" [class.has-error]="firstName.touched && !firstName.valid ">
  <label class="control-label">First Name</label>
  <input type="text"  class="form-control" placeholder="First Name" name="firstName" [(ngModel)]="employee.firstName" pattern="...+" maxlength="20" required #firstName="ngModel"/>
  </div>

 <div class="form-group" [class.has-error]="lastName.invalid && lastName.touched">
    <label class="control-label"> Last Name</label>
    <input type="text" class="form-control" placeholder="Last Name" name="lastName"[(ngModel)]="employee.lastName" required #lastName="ngModel"/>
 </div>

<div class="checkbox">
  <label>
    <input type="checkbox" name="isFullTime" [(ngModel)]="employee.isFullTime"> Full Time Employee
  </label>
</div>

<label>Payment Type</label>
<div class="btn-group">
  <label class="btn btn-primary" name="paymentType" [(ngModel)]="employee.paymentType" btnRadio="W2">W2</label>
  <label class="btn btn-primary" name="paymentType" [(ngModel)]="employee.paymentType" btnRadio="1099">1099</label>
</div>


<!-- 
<div class="radio">
    <label>
       <input type="radio" name="paymentType" value="W2"  [(ngModel)]="employee.paymentType">W2
    </label>
</div>

<div class="radio">
    <label>
       <input type="radio" name="paymentType" value="1099"  [(ngModel)]="employee.paymentType">1099
    </label>
</div>
-->

<div class="form-group" [class.has-error]="hasPrimaryLanguageError">
  <label class="control-label">Primary Language</label>
  <select (blur)="validatePrimaryLanguage(primaryLanguage.value)" 
  (change)="validatePrimaryLanguage(primaryLanguage.value)" 
  class="form-control" name="primaryLanguage" [(ngModel)]="employee.primaryLanguage" #primaryLanguage>
    <option value="default" default>Please select a value</option>
    <option *ngFor="let lang of languages">
      {{lang}}
    </option>
  </select>
</div>

  <div class="form-group" style="display:inline-block; min-height:90px;">
    <datepicker name="startDate" [(ngModel)]="employee.startDate" [showWeeks]="false" [minDate]="minDate" 
    [datepickerMode]="datepickerMode" [dateDisabled]="dateDisabled">
    </datepicker>
  </div>
    

  <div class="form-group">
      <timepicker name="startTime" [(ngModel)]="employee.startTime" [showMeridian]="ismeridian"></timepicker>
  </div>
 

  <div class="form-group">
    <label class="control-label">Show Rate</label>
    <!--
    <button type="button" class="btn btn-primary" name="onOffSwitch" [(ngModel)]="onOffSwitch" btnCheckbox btnCheckboxTrue="On" btnCheckboxFalse="Off">
      {{onOffSwitch}}
    </button>
    -->

    <button type="button" 
    class="btn"
    [class.btn-primary]="onOffSwitch === 'On'"
     name="onOffSwitch" [(ngModel)]="onOffSwitch" btnCheckbox btnCheckboxTrue="On" btnCheckboxFalse="Off">
      {{onOffSwitch}}
    </button>
  </div>




  <button class="btn btn-primary" type="submit" [disabled]="myForm.invalid || hasPrimaryLanguageError">OK</button>
</form>

<!-- pristine means that the form has not been touched -->
<!-- valid returns true if the form is valid -->
</div>
{{myForm.pristine}}
{{myForm.valid}}
Model: {{employee | json}}
has PrimaryLanguage: {{this.hasPrimaryLanguageError}}
